 

   
        
    +
    
    .container {
        width: 1000px;
        height: 400 ;
        position: relative;
        overflow: hidden;
        margin: px auto;
        border-radius: 50px;
        box-shadow: 5px 8px 12 px blue;
    }
    
    .container img   {
    
        width: 100%;
        height: 100%;
    }
    
    .container p {
        font-size: 6rem;
        color:white;
        position: absolute;
        top:10% ;
        left: 18%;
        transform: translate(-50%,-50%);
    
    }